<%= form_for @camp, html: {multipart: true} do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
      <% @camp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.number_field :address_id %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :web_url %><br>
    <%= f.text_field :web_url %>
  </div>
  <div class="field">
    <%= f.label :pccca_member %><br>
    <%= f.check_box :pccca_member %>
  </div>

  <%= f.fields_for :site_setup do |builder| %>
    <div class="field">
      <%= builder.label :hotel, "Number of Hotel Rooms" %>
      <%= builder.text_field :hotel %>
    </div>
    <div class="field">
      <%= builder.label :group_local_bath, "Number of Group Rooms with Private Bath" %>
      <%= builder.text_field :group_local_bath %>
    </div>
    <div class="field">
      <%= builder.label :group_sep_bath, "Number of Group Rooms with Shared Bath" %>
      <%= builder.text_field :group_sep_bath %>
    </div>
    <div class="field">
      <%= builder.label :rustic, "Number of Rustic/Tent sites" %>
      <%= builder.text_field :rustic %>
    </div>
    <div class="field">
      <%= builder.label :rv, "Number of RV spots" %>
      <%= builder.text_field :rv %>
    </div>
  <% end %>

  <%= f.fields_for :images do |builder| %>
    <%= builder.hidden_field :image_type, :value => "bar"%>
    <div class="field">
      <%= builder.label :image_url, "Image File" %>
      <%= builder.file_field :image_url %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
