<%= form_for @camp, html: {multipart: true} do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
      <% @camp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if current_user.admin?%>
    <div class="row form-group" style="text-align: left">
      <div class="col-lg-5">
        <%=f.label :name%>
        <%=f.text_field :name, :class => 'col-lg-12 form-control'%>
      </div>
      <div class="col-lg-4">
        <%=label_tag :email, "Login Email"%>
        <%=email_field_tag :email, @camp.contact.try(:email), :class => 'col-lg-12 form-control'%>
      </div>
      <div class="col-lg-3 mtsl">
        <%=f.label :pccca_member, "PCCCA Memeber", class:"mrl"%>
        <%=f.check_box :pccca_member%>
      </div>
    </div>


    <%=f.fields_for :address do |a|%>
      <%=a.hidden_field :id%>
      <div class="row form-group" style="text-align: left">
        <div class="col-lg-6">
          <%= a.label :address %><br />
          <%= a.text_field :address, :class => 'col-lg-12 form-control' %>
        </div>
        <div class="col-lg-6">
          <%= a.label :address2 %><br />
          <%= a.text_field :address2, :class => 'col-lg-12 form-control' %>
        </div>
        <div class="col-lg-6">
          <%= a.label :city %><br />
          <%= a.text_field :city, :class => 'col-lg-12 form-control' %>
        </div>
        <div class="col-lg-3">
          <%= a.label :state %><br />
          <%= a.select :state, grouped_options_for_select(us_states, @camp.address.state), {:prompt => "Choose A State/Province"}, {:class=>"form-control"} %>
          <%#= a.text_field :state, :class => 'col-lg-12 form-control' %>
        </div>
        <div class="col-lg-3">
          <%= a.label :zip %><br />
          <%= a.text_field :zip, :class => 'col-lg-12 form-control' %>
        </div>
      </div>
    <%end%>

  <%end%>

  <p>Splitting all the lodging options provided by our sites into categories is not an easy task. We ask that you do your best to “squeeze” your current accommodations into these categories. You do not need to worry about losing a potential retreat group because you were one bed short in a particular category. The search engine will also list those sites that are close to meeting the needs of the website visitor.</p>
  <%=f.fields_for :site_setup do |a|%>
    <div class="row" style="text-align: left">
      <div class="col-lg-2">
        <%= a.text_field :hotel, {:class => 'col-lg-12 form-control'} %>
      </div>
      <div class="col-lg-10" style="padding-top: 8px">
        <%= a.label :hotel, 'Hotel/Motel-type housing with private bathrooms' %><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <%= a.text_field :group_local_bath, :class => 'col-lg-12 form-control' %>
      </div>
      <div class="col-lg-10" style="padding-top: 8px">
        <%= a.label :group_local_bath, 'Group housing with shared bathrooms in the same building' %><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <%= a.text_field :group_sep_bath, :class => 'col-lg-12 form-control' %>
      </div>
      <div class="col-lg-10" style="padding-top: 8px">
        <%= a.label :group_sep_bath, 'Group housing with bathroom facilities in a nearby/separate building' %><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <%= a.text_field :rustic, :class => 'col-lg-12 form-control' %>
      </div>
      <div class="col-lg-10" style="padding-top: 8px">
        <%= a.label :rustic, 'Rustic Housing (screened cabins, tepees, platform tents, hogans, etc.) with bathroom facilities in a nearby/separate building' %><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <%= a.text_field :rv, :class => 'col-lg-12 form-control' %>
      </div>
      <div class="col-lg-10" style="padding-top: 8px">
        <%= a.label :rv, 'RV or Tent Sites (number of sites) with bathroom facilities in a nearby/separate building' %><br />
      </div>
    </div>
  <%end%>

  <div style="height: 20px"></div>

  <div class="row form-group" style="text-align: left">
    <div class="col-lg-12">
      <p>BookARetreat.com is a tool for helping potential retreat groups find your facility. Below is for a paragraph that describes your camp, conference, or retreat center. We suggest that you keep this description short and to the point (you are limited to 250 words), so retreat leaders will click through to your website for more information.</p>

      <%if @camp.camp_desc.nil?%>
        <p><b><em>If you have text that is showing up on your listing, that isn't here in the edit area, its because the system is using default text from the Book A Retreat website. When you fill in your description here it will show on your page.</em></b></p>
      <%end%>

      <%=f.fields_for :camp_info do |ci|%>
        <%= ci.text_area :description, rows: 10, :class => 'col-lg-12 form-control'%>
      <%end%>
    </div>
    <div class="col-lg-12 mtl">
      <p>For the website URL, we suggest providing a link that takes a visitor straight to your facility rental page (so they don't have to hunt for it on your website).</p>
      <%= f.text_field :web_url, :class => 'col-lg-12 form-control' %>
    </div>
  </div>

  <%unless current_user.admin?%>
    <div class="row form-group" style="text-align: left">
      <div class="col-lg-12">
        <p>This is the email that is assigned to your camp to login to Best Summer Yet. When you edit this email address, it will alter the email address you will use to log into your account, however the password will stay the same.</p>
        <%=email_field_tag :email, @camp.contact.try(:email), :class => 'col-lg-12 form-control'%>
      </div>
    </div>
  <%end%>

  <%if @camp.pccca_member?%>
    <div class="row form-group" style="text-align: left">
      <div class="col-lg-12">
        <p>The three pictures you submit below will be automatically cropped square for your listing (please do not choose panoramic shots). To have more control over the cropping, please edit the photo to be square before uploading. Since this website deals with potential retreat groups, it would beneficial if these pictures focused on what your facilities have to offer. The first picture will be the dominant image used with your listing in the directory.</p>

        <%if @camp.images.select{|i| i.image_type == 'pccca'}.count < 3%>
          <p><b><em>If you have images that are showing up on your listing, that isn't here in the edit area, its because the system is using default images from the Book A Retreat website. When you add images here it will show on your page.</em></b></p>
        <%end%>
      </div>
      <%images = @camp.images.select{|i| i.image_type == 'pccca'}%>
      <%(0..2).each do |i|%>
        <div class="col-lg-4" style="text-align: left">
          <%if images[i].present?%>
            <%=image_tag images[i].image_url(:medium)%><br/>
            <div class="row">
              <div class="col-lg-12">
                <%=link_to "Delete", images[i], :method => "delete"%>
              </div>
            </div>
          <%else%>
            <%image = Image.new%>
            <%= f.fields_for :images, @camp.images.build do |image_f| %>
              <%= image_f.hidden_field :image_type, :value => "pccca"%>
              <%= image_f.hidden_field :camp_id, :value => @camp.id%>
              <%= image_f.label :image_url, "Picture #{i+1}" %>
              <%= image_f.file_field :image_url, :style=>"form-control"%>
              <div class="actions">
                <%= image_f.submit %>
              </div>
            <% end %>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>

  <div class="row form-group">
    <div class="col-lg-12">
      <%=f.submit "Update Listing", :style=>"display: block", :class=>"btn btn-default"%>
    </div>
  </div>

<% end %>
