<%content_for :head do%>
  <style>
    body {
      background: url('/assets/cover 1.JPG');
      background-size: cover;
    }
  </style>
<%end%>

<div class="row full-width">
  <div class="large-12 columns search top-bar">
    <div class="content">
      <div class="row" style="margin: 0 15px">
        <div class="large-12 columns">
          <%=image_tag 'bar', :class => "float: left"%>
            <p style="float: left;" class="show-desktop">Find a retreat location for your next event for free.  We offer a list of conference and retreat rental locations at Christian camps and conference centers across the United States and Canada.</p>
        </div>
      </div>
    </div>
  </div>
</div><!--end top-bar-->

<div class="row content front-page">
  <p class="show-mobile" style="margin: 0 -15px 10px;">Find a retreat location for your next event for free.  We offer a list of conference rental and retreat rental locations at camps and conference centers throughout North America.</p>
  <%=form_tag search_camps_path, :id => 'SearchForm', :method => 'get' do %>
    <div class="row">
      <div class="col-lg-6 col-xs-12 form-group" style="padding-left: 0">
        <%=label_tag "city", "City"%><br />
        <%=text_field_tag "city",'', :class => "col-xs-12"%>
      </div>
      <div class="col-lg-6 col-xs-12 form-group" style="padding-left: 0">
        <%=label_tag "state", "State or Province"%><br />
        <%=text_field_tag "state",'',:class => "col-xs-12"%>
      </div>
    </div>

    <div class="row">
      <h2 style="margin-top: 0"><em><strong>Optional Information</strong></em></h2>
      <p>Please enter the number of beds in each lodging accommodation you will require for your retreat:</p>
      <div class="col-lg-6 columns" style="margin-top: 8px">
        <label>Hotel/Motel-style Housing with private bathrooms</label>
      </div>
      <div class="col-lg-2 end">
        <input type="number" class="col-xs-12" name="hotel" min="0" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label>Group Housing with shared bathrooms in the same building</label>
      </div>
      <div class="col-lg-2 end">
        <input type="number" class="col-xs-12" name="group_local_bath" min="0" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label>Group Housing with bathroom facilities in a nearby/separate building</label>
      </div>
      <div class="col-lg-2 end">
        <input type="number" class="col-xs-12" name="group_sep_bath" min="0" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label>Rustic Housing (screened cabins, teepees, platform tents, etc.) with bathroom facilities in a local/separate building</label>
      </div>
      <div class="col-lg-2 end">
        <input type="number" class="col-xs-12" name="rustic" min="0" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label>RV or Tent Sites (number of sites) with bathroom facilities in a local/separate building</label>
      </div>
      <div class="col-lg-2 end">
        <input type="number" class="col-xs-12" name="rv" min="0" />
      </div>
    </div>
    <input type="submit" value="Search For A Retreat Center" class="submit"/>
  <%end%>
</div>

<div class="credit">
  Laurel Ridge Camp, Conference, and Retreat Center<br/>
  Laurel Springs, NC
</div>
