<p id="notice"><%= notice %></p>

<h1>Listing Camps</h1>

<table>
  <thead>
    <tr>
      <th>Camp</th>
      <th>Main Website</th>
      <th>PCCCA Member</th>
      <th>Phone Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camps.each do |camp| %>
      <tr>
        <td><%= camp.name %></td>
        <td><%= camp.web_url %></td>
        <td><%= camp.pccca_member %></td>
        <td><%= camp.phone_number %></td>
        <td><%= link_to 'Show', camp %></td>
        <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
        <td><%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
