<%content_for :head do%>
  <%= stylesheet_link_tag 'simple-ripple-effect'%>
<%end%>

<div class="row full-width fixed" style="top: 0; z-index: 10">
  <div class="col-lg-12 top-bar">
    <div class="col-lg-4 col-xs-5 ">
      <%=link_to (image_tag 'bar'), root_path%>
    </div>
    <div class="col-lg-8 col-xs-7 menu">
      <h3><%=link_to '&#8610; Back to Results'.html_safe, :back%></h3>
    </div>
  </div>
</div><!--end top-bar-->

<div class="container show">
  <div class="row">
    <div class="col-xs-12 camp-container">
      <div class="row">
        <div class="col-md-10 col-xs-8">
          <h1 class="camp-title"><%= @camp.name %></h1>
        </div>
        <div class="col-md-2 col-xs-4 text-right">
          <%= @camp.pccca_member ? (link_to "#{image_tag('member_pccca.png', {:class => 'pccca'})}".html_safe, 'http://www.pccca.net', :class => "pccca-link") : ''%>
        </div>
      </div>
      <div class="row">
        <%if @camp.site_setup.housing_exists%>
          <div class="col-lg-7">
            <h4>Rooms</h4>
            <div class="row">
              <%="<div class='col-lg-1 col-xs-2'><span class='badge'>#{@camp.site_setup.hotel}</span></div><div class='col-lg-11 col-xs-10'>Hotel Style Rooms</div>".html_safe unless @camp.site_setup.hotel.to_i == 0%>
            </div>
            <div class="row">
              <%="<div class='col-lg-1 col-xs-2'><span class='badge'>#{@camp.site_setup.group_local_bath}</span></div><div class='col-lg-11 col-xs-10'>Group Housing with shared bathrooms in the same building</div>".html_safe unless @camp.site_setup.group_local_bath.to_i == 0%>
            </div>
            <div class="row">
              <%="<div class='col-lg-1 col-xs-2'><span class='badge'>#{@camp.site_setup.group_sep_bath}</span></div><div class='col-lg-11 col-xs-10'>Group Housing with bathroom facilities in a nearby/separate building</div>".html_safe unless @camp.site_setup.group_sep_bath.to_i == 0%>
            </div>
            <div class="row">
              <%="<div class='col-lg-1 col-xs-2'><span class='badge'>#{@camp.site_setup.rustic}</span></div><div class='col-lg-11 col-xs-10'>Rustic Housing with bathroom facilities in a local/separate building</div>".html_safe unless @camp.site_setup.rustic.to_i == 0%>
            </div>
            <div class="row">
              <%="<div class='col-lg-1 col-xs-2'><span class='badge'>#{@camp.site_setup.rv}</span></div><div class='col-lg-11 col-xs-10'>RV or Tent Sites with bathroom facilities in a local/separate building</div>".html_safe unless @camp.site_setup.rv.to_i == 0%>
            </div>
          </div>
        <%end%>
        <div class="col-lg-2 col-xs-6">
          <h4>Address</h4>
          <%= @camp.address.try(:address)%><br />
          <%= "#{@camp.address.try(:address2)}<br />".html_safe if @camp.address.try(:address2).present?%>
          <%= @camp.address.try(:city) %>, <%= @camp.address.try(:state) %> <%= @camp.address.try(:zip) %><br />
          <%= link_to "<span class='glyphicon glyphicon-map-marker'></span> Map It".html_safe, "https://www.google.com/maps/search/#{@camp.address.try(:address)}+#{@camp.address.try(:address2)}+#{@camp.address.try(:city)},+#{@camp.address.try(:state)}+#{@camp.address.try(:zip)}", :target => "_blank" %>
        </div>
        <div class="col-lg-3 col-xs-6">
          <h4>Phone Number</h4>
          <span class="glyphicon glyphicon-earphone"></span> <%= @camp.try(:phone_number)%><br />
        </div>
      </div>
    </div>
    <div class="col-xs-12 camp-container">
      <p class="description"><%=CampInfo.where(camp_id: @camp.id, camp_type: 'pccca').first.try(:description).try(:html_safe) %></p>
    </div>
    <div class="col-xs-12 camp-container">
      <div class="row camp-images">
        <%if @camp.pccca_member%>
          <%images = @camp.images.reject{|i| i.image_type != "bar"}.take(3)%>
          <%counts = 3-images.count%>
          <%(1..counts).each do |count|%>
            <%if count == 1%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').first%>
            <%elsif count == 2%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').second%>
            <%else%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').third%>
            <%end%>
          <%end%>
          <%images.each do |image|%>
            <div class="col-md-3 camp-photo-wrapper">
              <div style="background-image: url('<%=asset_path image.image_url(:medium) unless image.nil?%>');" class="camp-photo">
              </div>
            </div>
          <%end%>
        <%end%>
        <div class="col-md-3 website">
          <%=link_to "Learn more about #{@camp.name}", @camp.web_url, {:class => "ripple-effect details", :"data-ripple-color" => "#F69050"}%>
        </div>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<script src="js/simple-ripple-effect.js"></script>

<!--<%#= link_to 'Edit', edit_camp_path(@camp) %> |
<%#= link_to 'Back', camps_path %>-->
